version: "3"
services:
  realms_notifier:
    build:
      context: .
      dockerfile: Dockerfile
    # environment:
    #   ENV_NAME: dev
    env_file:
      - .env
    network_mode: host
    # ports:
    #   - 7001:7001
    command: node dist/index.js
