version: "3"
networks:
  api_server_default:
    external: trueservices:
  hackernewsapp:
    networks:
      - api_server_default
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      ENV_NAME: dev
    env_file:
      - .env
    network_mode: host
    # ports:
    #   - 7001:7001
    command: node dist/main
    
    
    